.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  gap: 0.5vw;
}

.chart-main-wrapper {
  /*   padding-top: 5rem;
 */
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "form time-chart-container"
    "form frequency-chart-container";
  column-gap: 0.5vw;
}

.charts-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  gap: 0.5vw;
}

.charts-container > .chart {
  flex: 1;
}

.time-chart-container {
  grid-area: time-chart-container;
}

.frequency-chart-container {
  grid-area: frequency-chart-container;
}
