@import url(styles/colors.css);
@import url(styles/layouts.css);
@import url(styles/typography.css);

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body,
html {
  font-family: "Karla";
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
